@import '/public/css/general.scss';

.home{
  position: relative;
  min-height: calc(100vh - $nav-height - $padding-section);
  // margin-top: $padding-section;
  padding-top: $nav-height + $padding-section;
  background-image: url('../../../public/img/home.png');
  background-repeat: no-repeat;
  background-position: top $padding-section right 70px;
  background-size: auto 1060px / 2;
  
  // &::before{
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   width: 100%;
  //   background-size: cover;
  //   background-position: center;
  // }

  &__main{
    display: flex;
  }

  &__image{
    position: absolute;
    top: $nav-height + $padding-section - 50px;
    right: 70px;
    height: 790px;
  }

  &__compro{
    h1{
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 78px;
      letter-spacing: 0.08em;
      width: 568px;
      color: #FFFFFF;
      margin-bottom: 48px;
    }
  }
}