@import '/public/css/general.scss';

.how{
  min-height: 100vh;
  display: flex;
  align-items: center;

  &__heading, &__contents{
    flex: 1;
  }

  &__h1{
    font-size: 96px;
  }

  &__title{
    width: 364px;
  }

  &__content{
    margin-bottom: 120px;

    &:last-child{
      margin-bottom: 0;
    }

    &-title{
      display: flex;
      align-items: center;
    }

    &-number{
      margin-right: 52px;
      border: 2.51685px dashed #21DDBE;
      width: 56px;
      height: 56px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 30.2022px;
      line-height: 35px;
      text-align: right;

      color: #21DDBE;

      text-shadow: 0px 0px 9.4382px #56C5FF;
    }
  }
}