// nav
$navbar-container: 86px;
$nav-height: 145px;

$padding-section: 180px;
$min-height: 100vh;
$margin-from-heading: 160px;
$margin-from-heading-sm: 50px;

$gap-split-half-flex: 100px;
$line-height-title: 115px;
$line-height-title-sm: 75px;