@import '/public/css/general.scss';

.solution{
  margin-top: $nav-height;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__main{
    display: flex;
    margin-top: 160px;
    align-items: center;
  }

  &__text, &__image{
    flex: 1;
  }

  &__image{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}