@import '/public/css/general.scss';

.visitor-management{
  min-height: 100vh;
  margin-top: $nav-height;

  &__main{
    margin-top: 160px;
    display: flex;

    border: 3.87216px solid #21DDBE;
    // filter: drop-shadow(0px 0px 19.3608px #56C5FF);
    border-radius: 12.9072px;
  }

  &__img, &__desc{
    flex: 1;
  }

  &__flow{
    display: flex;
    align-items: center;
    margin-top: 160px;
    justify-content: center;
  }
}