.logo{
  color: white;
  display: flex;
  align-items: center;

  img{
    width: 38px;
    height: 38px;
    margin-right: 16px;
  }

  p{
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.03em;
  }
}