@import '/public/css/general.scss';
.footer{
  min-height: 100vh;
  margin-top: $nav-height;
  margin-bottom: $nav-height;
  background-image: url('../../../public/img/surreal\ bg.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  &__form{
    display: flex;
    justify-content: flex-end;
  }
  &__contact{
    .contact-us{
      .button{
        width: 100%;
        color: white;
      }
    }
  }
}