@import '/public/css/general.scss';

.why{
  margin-top: $padding-section;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__main{
    display: flex;
    margin-top: 160px;
    align-items: center;
  }

  &__text, &__images{
    flex: 1;
  }

  &__images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 56px;
  }

  &__text{
    margin-right: 215px;
  }
}