@import '/public/css/general.scss';

.key-features{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__contents{
    margin-top: $margin-from-heading;
    display: flex;
  }
  
  &__content{
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px;
    gap: 34px;

    width: 381px;

    border: 1px solid #2E2E2E;
    border-radius: 32px;

    &:last-child{
      margin-right: 0;
    }

    &-title{
      .header{
        font-size: 24px;
      }
    }

    .description{
      margin-top: 0;
      // margin-left: 48px;
      font-size: 20px;
    }
  }
}

@media (max-width: 480px) {
  .key-features{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
    &__contents{
      margin-top: $margin-from-heading-sm;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    
    &__content{
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 48px;
      gap: 34px;
  
      width: auto;
  
      border: 1px solid #2E2E2E;
      border-radius: 32px;
  
      &-title{
        .header{
          font-size: 24px;
        }
      }
  
      .description{
        margin-top: 0;
        // margin-left: 48px;
        font-size: 20px;
      }
    }
  }

}

@media (min-width: 481px) and (max-width: 768px) {
  .key-features{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
    &__contents{
      margin-top: $margin-from-heading-sm;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    
    &__content{
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 48px;
      gap: 34px;
  
      width: auto;
  
      border: 1px solid #2E2E2E;
      border-radius: 32px;
  
      &-title{
        .header{
          font-size: 24px;
        }
      }
  
      .description{
        margin-top: 0;
        // margin-left: 48px;
        font-size: 20px;
      }
    }
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  .key-features{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
    &__contents{
      margin-top: $margin-from-heading-sm;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 20px;
      // display: flex;
      // flex-direction: column;
      // gap: 20px;
    }
    
    &__content{
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 48px;
      gap: 34px;
  
      width: auto;
  
      border: 1px solid #2E2E2E;
      border-radius: 32px;
  
      &-title{
        .header{
          font-size: 24px;
        }
      }
  
      .description{
        margin-top: 0;
        // margin-left: 48px;
        font-size: 20px;
      }
    }
  }

}

@media (min-width: 1025px) and (max-width: 1200px) {
  .key-features{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
    &__contents{
      margin-top: $margin-from-heading;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 20px;
      // display: flex;
      // flex-direction: column;
      // gap: 20px;
    }
    
    &__content{
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 48px;
      gap: 34px;
  
      width: auto;
  
      border: 1px solid #2E2E2E;
      border-radius: 32px;
  
      &-title{
        .header{
          font-size: 24px;
        }
      }
  
      .description{
        margin-top: 0;
        // margin-left: 48px;
        font-size: 20px;
      }
    }
  }

}