@import '/public/css/general.scss';

.another-features{
  min-height: 100vh;
  margin-top: $nav-height;

  &__main{
    margin-top: 160px;
    display: flex;
    gap: 120px;
  }

  &__text, &__image{
    flex: 1;
  }

  &__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}