

.learn-from-you{
  min-height: 100vh;
  display: flex;
  align-items: center;
  gap: 100px;
  
  &__text, &__image{
    flex: 1 1 50%;
  }

  &__image{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__text{
    .header{
      margin-bottom: 63px;
    }
  }
}